* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  width: 100%;
  min-height: 85px;
  border: 1px solid #ebebeb;
  background-color: white;
}
.navBar .navbarCnt {
  width: 90%;
}
.navBar .navbarCnt .navUl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  gap: 5px;
}
.navBar .navbarCnt .navUl li a {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 34px;
  color: #a4a3a3 !important;
  transition: 0.5s ease;
}
.navBar .navbarCnt .navUl li a:hover {
  color: #000 !important;
}
.navBar .navbarCnt .navUl .pages {
  position: relative;
  transition: 0.5s ease;
}
.navBar .navbarCnt .navUl .pages:hover {
  transition: 0.5s ease;
}
.navBar .navbarCnt .navUl .pages:hover .pagesDropdown {
  display: block;
  position: absolute;
  top: 55px;
  background-color: #fff;
  min-width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  transition: 0.5s ease;
}
.navBar .navbarCnt .navUl .pages .pagesDropdown {
  display: none;
}
.navBar .navbarCnt .navUl .pages .pagesDropdown p {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 30px;
  font-family: poppins, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 34px;
  color: #a4a3a3 !important;
  border-top: 1px solid #aaaaaa;
  transition: 0.4s;
  cursor: pointer;
}
.navBar .navbarCnt .navUl .pages .pagesDropdown p:hover {
  color: #000 !important;
}
.navBar .navbarCnt .searchUserCartCnt {
  min-height: 85px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navBar .navbarCnt .searchUserCartCnt a {
  min-height: 85px;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}
.navBar .navbarCnt .searchUserCartCnt a i {
  font-size: 20px;
  color: #000;
  font-weight: 400;
}
.navBar .navbarCnt .searchUserCartCnt .searchInp {
  min-height: 85px;
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}
.navBar .navbarCnt .searchUserCartCnt .searchInp #searchInp {
  border: none;
  background-color: transparent;
  width: 68%;
  min-height: 85px;
}
.navBar .navbarCnt .searchUserCartCnt .searchInp #searchInp::placeholder {
  color: #787878;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.navBar .navbarCnt .searchUserCartCnt .searchInp #searchBtn {
  min-height: 85px;
  width: 20%;
  border: none;
  background-color: transparent;
  color: #787878;
  font-size: 14px;
  font-weight: 500;
}

#mySec {
  width: 100%;
  height: 651px;
  background-color: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#mySec h2 {
  font-family: poppins;
  font-size: 40px;
  color: white;
}

#myForm1 {
  width: 40%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}
#myForm1 .inputcnt {
  width: 70%;
  height: 15%;
  display: flex;
  justify-content: center;
}
#myForm1 .inputcnt input {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(128, 128, 128, 0.299);
  background-color: #0315ff;
  color: white;
}
#myForm1 .inputcnt input::placeholder {
  color: white;
}
#myForm1 button {
  width: 22%;
  height: 12%;
  color: white;
  border: 2px solid rgba(128, 128, 128, 0.299);
  background-color: #0315ff;
}